@model MSTGreekLife.Models.SignInViewModel

<h2>Party Sign In / Manage Attendees</h2>

@using (Html.BeginForm("SignIn", "Party", FormMethod.Post))
{
    @Html.TextBoxFor(m => m.StudentId)   
    <input type="submit" value="Sign In" />
}

@Html.Partial("~/Views/Party/ListAttendees.cshtml", @Model.Party)

@if (ViewBag.Blacklisted != null)
{
    <script>

    $(document).ready(function(){
        alert('This Student Is Blacklisted & May Not Attend This Party!');
    });

    </script>

}