@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome!</h1>
    <p class="lead">Greek Life Parties is the easiest way to schedule greek parties through you school and manage your attendees!</p>
    <p><a href="/Account/Register" class="btn btn-primary btn-lg">Register HERE To Get Started &raquo;</a></p>
</div>
